
*{
    background-image: url("todo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;

}

.box{
    background-color: rgb(179, 83, 144);
    height: 150px;
}

.box1
{
    background-color: white;
    font-weight: bold;
    border: 1px solid rgb(216, 214, 214);
    margin-left: 350px;
    margin-top: 80px;
    margin-right: 350px;

}
.box2{
    border: 1px solid rgb(216, 214, 214);
    margin : 40px 350px 0 350px;
}
.btn{
    padding: 7px;
    color: black;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
#add{
margin-bottom: 15px;
margin-left: 15px;
margin-right: 20px;
font-size: 15px;
padding: 6px;
border-radius: 12px;
}
#heading{
margin-top: 20px;
 margin-left: 20px;
}
